.form{
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    color: #333333;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.form .text{
    padding: 10px 20px 20px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.form-text{
    font-size: 25px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

.form .submit-button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background: linear-gradient(90deg, #22D2FE 0%, #44AAFE 25%, #6D7BFE 51%, #B228FF 100%);
    width: 50%;
    border-radius: 30px;
    padding: 12px;
    position: relative;
    color: white;
    border: transparent;
    font-size: 15px;
    display: block;
    margin: auto;
    transition: 0.3s all;
}

.form .submit-button:hover{
    transform: scale(1.05);
    filter: brightness(1.05) contrast(1.05);
}

.submit-button:active, .submit-button:focus{
    outline: none;
} 

span{
    display: block;
}

.user-input{
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #BCBCBC;
    background-color: transparent;
    color: #262626;
    outline: none;
    transition: 0.3s all;
    font-size: 15px;
}

.subtitle{
    font-size: 20px;
    margin-bottom: 8px;
    color: #BCBCBC;
}

.user-input:focus{
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, #22D2FE, #B228FF);
    border-image-slice: 1;
}

.user-input.ng-touched.ng-invalid{
    border-bottom: 1px solid #FA5858;
    color: #FA5858;
}


.file-input{
    display: none;
}

.file-button{
    border-radius: 15px;
    border: 1px solid #BCBCBC;
    color: #BCBCBC;
    padding: 10px;
    outline: none;
}

.file-button:hover{
    cursor: pointer;
    border: 1px solid #8068FF;
    color: #8068FF
}

.input-container{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

.input-container img{
    height: 60px;
    float: right;
    border-radius: 5px;
}

.back{
    height: 20px;
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(200deg);
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
}

.back:hover{
    cursor: pointer;   
}

.amount{
    border: 1px solid #BCBCBC;
    color: #BCBCBC;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    margin: 10px 0px;
}

.amount:hover{
    cursor: pointer;
    border: 1px solid #8068FF;
    color: #8068FF    
}

.amount-price{
    margin: 20px 0px;
    display: inline-block;
    width: 100%;
}
.product-amount{
    width: 50%;
    float: left;
}

.product-price{
    width: 50%;
    float: right;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content ul{
    list-style: none;
    padding: 0;
    width: 150px;
}

.dropdown-content ul li{
    padding: 10px 20px;
    text-align: center;
    color: #BCBCBC;
}

.dropdown-content ul li:hover{
    background-color: #FAF8FC;
    cursor: pointer;
    color: #8068FF
}

.dropdown{
    width: 50%;
    display: inline-block;
}

.span-container{
    /* display: inline-block; */
    width: 50%;
    float: right;
}

.category-result{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #BCBCBC;
    display: none;
    color: #BCBCBC;
}