<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<form (ngSubmit)="addStore()" class="form" #f="ngForm" autocomplete="off">

    <div class="text">
        <img src="../../../assets/back.svg" alt="" class="back" (click)="this.storeComponent.hideForm()">
        <span class="form-text">Create Product</span>

        <span class="subtitle">Product name</span> 
        <input required ngModel [(ngModel)]="productName"  class="user-input" type="text" name="productName"/><br>

        <span class="subtitle">Choose product image</span>
        <div class="input-container">
            <input required type="file" accept="image/*" class="file-input" #fileInput (change)="readUrl($event)">
            <button class="file-button"(click)="fileInput.click()">Upload product image</button>
            <img *ngIf="imageUrl" [src]="imageUrl" alt="">
        </div>

        <div class="amount-price">
            <div class="product-amount">
                <span class="subtitle">Product amount</span>
                <input required type="number" min="1" max="10" value="1" class="amount">
            </div>
            <div class="product-price">
                <span class="subtitle">Price</span>
                <input  class="amount" type="text">
            </div>
        </div>
        <button class="submit-button" type="submit">Send</button>
    </div>
</form>