<form action="/login" class="form">

  <div class="text">
      <label>Create Your Account</label>

      <span class="subtitle">Name</span> 
      <input [(ngModel)]="name"  class="user-input" type="text" name="un"/><br>

      <span class="subtitle">Surname</span> 
      <input [(ngModel)]="surname"  class="user-input" type="text" name="un"/><br>

      <span class="subtitle">User Name</span> 
      <input [(ngModel)]="username"  class="user-input" type="text" name="un"/><br>

      <span class="subtitle">Password</span> 
      <input [(ngModel)]="password"  class="user-input" type="password" name="un"/><br>

      <input class="submit-button" type="submit" value="Sign Up">
      <a routerLink="/login" class="bottom left">Already registered</a>
      <a routerLink="/home" class="bottom right">Home</a>
  </div>
</form>