.container{
    background-color: white;
    padding: 20px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.congratulations{
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.success{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    display: block;
    width: 100%;
    text-align: center;
}

.product-name{
    font-weight: bolder;
    color: #885EFF;
}