.container{
    font-family: 'Oswald', sans-serif;
    transition: all 0.3s;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.container:hover{
    /* background-color: ; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.container:hover .label-button{
    visibility: visible;
}

.container .label-image{
    float: left;
    position: relative;
    height: 120px;
    /* border-radius: 50%; */
    left: 50%;
    transform: translateX(-50%);
}

.container span{
    position: relative;
    display: inline-block;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
}

.container:hover span{
    left: 0;
    transform: translate(0);
}

.container .label-button{
    height: 25px;
    float: right;
    padding: 5px;
    visibility: hidden;
}

.container .label-button:hover{
    cursor: pointer;
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(200deg);
    transform: scale(1.15);
}

.container .description{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}