<div class="container">
  <img *ngIf="admin" class="label-button" src="../../../assets/delete.svg" alt="" (click)="removeProduct()">
  <img class="label-button" src="../../../assets/shopping-cart.svg" alt="" (click)="addToCart()">
  <img *ngIf="admin" class="label-button" src="../../../assets/edit.svg" alt="" (click)="editProduct()">
  <img class="product-image" src="../../../assets/default.png" alt="">
  <div class="data">
      <span class="name">{{ product.name }}</span>
      <span class="price">${{ product.price }}</span>
      <!-- <img class="label-button" src="../../../assets/delete.svg" alt="">
      <img class="label-button" src="../../../assets/edit.svg" alt=""> -->
  </div>
</div>
