*{
    font-family: 'Open Sans Condensed', sans-serif;
}

.content{
    top: 15%;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.image-container{
    width: 60%;
    float: left;
}

.image{
    width: 100%;
    border-radius: 5px;
}

.comment-text{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    outline: none;
    padding: 20px;
    margin-top: 20px;
}

.comment-text:focus{
    border: 1px solid #22272A;
}

.data-container{
    width: 40%;
    float: left;
    text-align: left;
    padding: 20px;
}

.main-container{
    display: inline-block;
    margin-bottom: 20px;
}

.from{
    font-weight: bold;
    margin-right: 30px;
    padding: 20px;
}

.icon{
    height: 80px;
    border-radius: 5px;
}

.comments{
    max-height: 400px;
    /* height: 400px; */
    overflow-y: scroll;
}

.user-comment{
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.user-comment:hover{
    background-color: #F2F2F2;
}

.comment-button{
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-left: 20px;
    outline: none;
    transition: 0.3s all;
    /* float: right; */
}

.dark{
    background-color: #22272A;
    color: white;
}

.light{
    background-color: #F8F9FA;
    color: #22272A;
    border: none;
}

.comments-container{
    margin-bottom: 20px;
}

.light:hover{
    background-color: #E2E6E9;
    cursor: pointer;
}

.dark:hover{
    background-color: black;
    cursor: pointer;
}

.button-container{
    width: 100%;
    text-align: right;
    margin: 20px 0;
}

.name{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 40px;
}

.margin{
    margin-bottom: 20px;
}

.value{
    color: #BCBCBC;
    font-size: 20px;
}

.no-margin{
    margin: 0px;
}

.right{
    margin-left: 20px;
}

.button-parent{
    margin-top: 30px;
}