<app-header></app-header>
<div *ngIf="product" class="content">
    <div class="main-container">
      <div class="image-container">
        <img class="image" [src]="product.image | noImage:'../assets/default.png'">
      </div>
  
      <div class="data-container">
        <p>{{product | json}}</p>
      </div>
    </div>

    <div class="comments">
      <div class="user-comment" *ngFor="let comment of comments">{{comment | json}}</div>
      <form>
          <textarea class="comment-text" placeholder="Type your comment"></textarea>
      </form>
    </div>
</div>

