<app-header></app-header>
<div *ngIf="product" class="content">
    <div class="main-container">
      <div class="image-container">
        <img class="image" [src]="product.image | noImage:'../assets/default.png'">
      </div>
  
      <div class="data-container">
        <p>{{product | json}}</p>
      </div>
    </div>

    <div class="comments-container">
      <div class="comments">
        <div class="user-comment" *ngFor="let comment of comments">
          <img class="icon" [src]="comment.user.image | noImage:'../../assets/default.png'">
          <label class="from">{{comment.user.name}}:</label>
          <label>{{comment.comment}}</label>
        </div>
      </div>
      <form>
          <textarea [(ngModel)]="message" name="comment" class="comment-text" placeholder="Type your comment"></textarea>
          <button type="submit" (click)="addComment()">Send Comment</button>
      </form>
    </div>
</div>

