<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<div class="background"></div>
<div class="message">
  <span class="congratulations">Congratulations</span>
  <div class="container">
      <span class="success">Thank you for successully completing your purchase at Nemesis!</span>
      <img src="../../assets/success.svg" alt="" class="image">
  </div>
  <button class="submit-button" type="button" (click)="home()">Home</button>
</div>