<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

<form class="form" #f="ngForm" autocomplete="off" enctype="multipart/form-data">

    <div class="text">
        <img src="../../../assets/back.svg" alt="" class="back" (click)="hide()">
        <span class="form-text">Select your profile image</span>

        <span class="subtitle">Choose image</span>
        <div class="input-container">
            <input required type="file" accept="image/*" class="file-input" #fileInput (change)="readUrl($event)">
            <button class="file-button"(click)="fileInput.click()">Upload store image</button>
            <img *ngIf="imageUrl" [src]="imageUrl" alt="">
        </div>
        <button class="submit-button" type="button" (click)="upload()">Send</button>
    </div>
</form>