<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<div class="background"></div>
<div class="container" [ngClass]="{'hide': isEmpty()}">
  <div class="cart">
    <span class="cart-text">Your Cart</span>
    <app-cart-label *ngFor="let item of cartList" [item]="item" (emitter)="removeFromCart($event)"></app-cart-label>
    <div class="total">
      <span class="left">Total:</span>
      <span class="right">${{total}}</span>
    </div>
    <button class="submit-button" type="button" (click)="continue()">Continue</button>
  </div>
</div>

<div class="container" [ngClass]="{'hide': !isEmpty()}">
  <span class="cart-text">Your cart is currently empty</span>
  <button class="submit-button" type="button" (click)="home()">Continue shopping</button>
</div>
<app-cart-form *ngIf="formVisible" [purchase]="purchase"></app-cart-form>
