<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<div class="background"></div>
<div class="container">
  <div class="cart">
    <span class="cart-text">Your Cart</span>
    <app-cart-label *ngFor="let product of user.products" [product]="product" (emitter)="removeFromCart($event)"></app-cart-label>
    <div class="total">
      <span class="left">Total:</span>
      <span class="right">${{total}}</span>
    </div>
    <button class="submit-button" type="button" (click)="buy()">Buy</button>
  </div>
</div>
