*{
    font-family: 'Oswald', sans-serif;
}

div{
    color: black;
    /* text-align: center; */
    font-size: 55px;
}

.subtext{
    font-size: 30px;
}

img{
    height: 70px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
