*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 0px;
    position: fixed;
    width: 100%;
}

.navbar ul{
    list-style-type: none;
    height: inherit;
}

.navbar ul li{
    float: left;
    width: 25%;
    text-align: center;
    height: 100%;
}

.space{
    height: 5000px;
    width: 100%;
    background-color: red;
}