
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

<form (ngSubmit)="logIn()" class="form" #f="ngForm" autocomplete="off">

  <div class="image-container">
      <img src="../assets/user.svg">
  </div>


    <div class="text">
        <span class="login-text">Welcome</span>

        <span class="subtitle">Username</span> 
        <input required ngModel [(ngModel)]="userName"  class="user-input" type="text" name="email"/><br>

        <span class="subtitle">Password</span> 
        <input required ngModel [(ngModel)]="password"  class="user-input" type="password" name="password"/><br>

        <button class="submit-button" type="submit" >Log In</button>
        <!-- <a href="http://www.google.com" class="bottom left">Forgot Password</a> -->
        <a routerLink="/signup" class="bottom right">Register</a>
    </div>
</form>
