.form{
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    color: #333333;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    /* transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute; */
}

.form .text{
    padding: 10px 20px 20px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.form-text{
    font-size: 25px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

.form .submit-button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background: linear-gradient(90deg, #22D2FE 0%, #44AAFE 25%, #6D7BFE 51%, #B228FF 100%);
    width: 50%;
    border-radius: 30px;
    padding: 12px;
    position: relative;
    color: white;
    border: transparent;
    font-size: 15px;
    display: block;
    margin: auto;
    transition: 0.3s all;
}

.form .submit-button:hover{
    transform: scale(1.05);
    filter: brightness(1.05) contrast(1.05);
}

.submit-button:active, .submit-button:focus{
    outline: none;
} 

span{
    display: block;
}

.user-input{
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #BCBCBC;
    background-color: transparent;
    color: #262626;
    outline: none;
    transition: 0.3s all;
    font-size: 15px;
}

.subtitle{
    font-size: 20px;
    margin-bottom: 8px;
    color: #BCBCBC;
}

.user-input:focus{
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, #22D2FE, #B228FF);
    border-image-slice: 1;
}

.user-input.ng-touched.ng-invalid{
    border-bottom: 1px solid #FA5858;
    color: #FA5858;
}


/* .file-input{
    display: none;
} */

.file-label:hover{
    cursor: pointer;
}