
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

<form class="form" #f="ngForm" autocomplete="off">

    <div class="text">
        <img src="../../../assets/back.svg" alt="" class="back" (click)="this.profileComponent.hideForm()">
        <span class="form-text">Create Your Store</span>

        <span class="subtitle">Store name</span> 
        <input required ngModel [(ngModel)]="storeName"  class="user-input" type="text" name="storeName"/><br>

        <span class="subtitle">Choose store image</span>
        <div class="input-container">
            <input required type="file" accept="image/*" class="file-input" #fileInput (change)="readUrl($event)">
            <button class="file-button"(click)="fileInput.click()">Upload store image</button>
            <img *ngIf="imageUrl" [src]="imageUrl" alt="">
        </div>
        <button class="submit-button" type="button" (click)="addStore()">Send</button>
    </div>
</form>