<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<div class="container">
    <div class="background"></div>
    <div class="content">
        <img src="../../assets/perfil.jpg" alt="">
        <span>Welcome {{ username }}</span>
    </div>

    <a routerLink="/"><img class="home" src="../../assets/back.svg" alt=""></a>
    <img class="settings" src="../../assets/settings.svg" alt="" (click)="toggleSettings()">
    <app-settings *ngIf="settingsVisible" [user]="user"></app-settings>

    <div class="data-container">
        <span>Check out your Stores</span>
        <div class="label-container">
            <app-store-label *ngFor="let store of storeList" [stores]="storeList" [name]="store.name"></app-store-label>
            <app-add (click)="showForm()"></app-add>
        </div>
    </div>
</div>
<app-store-form *ngIf="formVisible" [stores]="storeList" [user]="user"></app-store-form>





