<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<div class="container">
    <div class="background"></div>
    <div class="content">
        <!-- <img src="../../assets/perfil.jpg" alt=""> -->
        <div class="image-container">
            <img class="profile-image" [src]="userImage" alt="">
            <div class="upload" (click)="showImageForm()">
                <img src="../../assets/photo-camera.svg" alt="">
            </div>
        </div>
        <span>Welcome {{ name }}</span>
    </div>

    <a routerLink="/"><img class="home" src="../../assets/back.svg" alt=""></a>
    <img class="settings" src="../../assets/settings.svg" alt="" (click)="toggleSettings()">
    <app-settings *ngIf="settingsVisible" [user]="user"></app-settings>

    <div class="data-container">
        <span>Check out your Stores</span>
        <div class="label-container">
            <app-store-label *ngFor="let store of storeList" [stores]="storeList" [store]="store" [user]="user" (click)="enterStore(store.id)"></app-store-label>
            <app-add (click)="showForm()"></app-add>
        </div>
    </div>
</div>
<app-store-form *ngIf="formVisible" [stores]="storeList" [user]="user"></app-store-form>
<app-image-form *ngIf="imageFormVisible" [user]="user" (emitter)="hideImageForm()" (imageEmitter)="changeImage($event)"></app-image-form>





