<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

<div class="container">
  <div class="categories">
    <app-search></app-search>
    <ul>
      <li *ngFor="let category of categories">{{category}}</li>
    </ul>
  </div>
  <div class="content">
    <div class="options">
        <p>{{store.name}}</p>
        <a routerLink="/profile" *ngIf="logged">Profile</a>
        <a routerLink="/">Home</a>
        <a (click)="logOut()" *ngIf="logged">Log out</a>
        <a routerLink="/login" *ngIf="!logged">Log in</a>
        <a *ngIf="admin" (click)="showForm()">Add product</a>
    </div>
    <div class="products">
      <app-product-label *ngFor="let product of displayedValues" [product]="product"></app-product-label>
    </div>
    <br>
    <div class="pagination">
      <ul>
          <li (click)="previous()" [ngClass]="{'disabled': checkNegative()}">Prev</li>
          <li *ngFor="let index of intervals" (click)="setCurrent(index)" [ngClass]="{'current': checkCurrent(index)}">{{index}}</li>
          <li (click)="next()" [ngClass]="{'disabled': checkGreater()}">Next</li>
        </ul>
    </div>
  </div>
</div>
<app-product-form *ngIf="formVisible" [categories]="categories" [storeId]="store.id"></app-product-form>

