<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<div class="container">
  <div class="categories">
    <app-search></app-search>
    <ul>
      <li>All</li>
      <li>New Arrivals</li>
      <li>Men</li>
      <li>Women</li>
      <li>Shirts</li>
      <li>Pants</li>
      <li>Shorts</li>
      <li>Shoes</li>
      <li>Accesories</li>
      <li>Other</li>
    </ul>
  </div>
  <div class="content">
    <div class="options">
        <p>{{store.name}}</p>
        <a routerLink="/profile">Profile</a>
        <a routerLink="/">Home</a>
        <a (click)="logOut()">Log out</a>
    </div>
    
  </div>
</div>

