html{
    min-height: 100%;
    position: relative;
}

body{
    height: 100%;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

.categories{
    background-color: white;
    float: left;
    height: 100%;
    padding: 20px 40px 20px 40px;
    width: 20%;
    color: #BCBCBC;
    position: fixed;
}

.categories ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    margin-top: 20px;
}

.categories ul li{
    padding: 15px;
}

.categories ul li:hover{
    color: black;
    cursor: pointer;
}

.content{
    float: right;
    width: 80%;
    padding: 20px 40px 20px 0px;
}

.options{
    height: 60px;
}

.options p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

.options a{
    float: right;
    color: #BCBCBC;
    text-decoration: none;
    padding: 15px;
    margin-left: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.options a:hover{
    color: black;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.products{
    display: inline-block;
    width: 100%;
}

.pagination{
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 20px 0px;
    left: 50%;
    transform: translateX(-50%);
}

.pagination ul{
    list-style: none;
    padding: 0;
}

.pagination ul li{
    float: left;
    padding: 15px;
    color: #BCBCBC;
}

.pagination ul li:hover{
    color: black;
    cursor: pointer;
}

.current{
    color: #885EFF !important;
}

.disabled{
    pointer-events: none;
    opacity: 0.6;
}