<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<video autoplay loop id="background-video">
  <source src="../../assets/video.mp4">
</video>
<app-home-label id="label"></app-home-label>

<div id="nav" class="navbar">
  <span class="left">Nemesis</span>
  <div class="search-box">
      <input [(ngModel)]="searchValue" class="search-text" type="text" placeholder="Type to search" (keypress)="handleEvent($event)">
      <a class="search-btn" (click)="searchStore()">
        <img src="../../../assets/search.svg" alt="">
      </a>
    </div>
  
  <ul>
    <a class="nav-button" (click)="navigate('cart')" *ngIf="this.auth.isLoggedIn()">Cart</a>
    <a class="nav-button" (click)="navigate('profile')" *ngIf="this.auth.isLoggedIn()">Profile</a>
    <a class="nav-button" (click)="navigate('signup')" *ngIf="!this.auth.isLoggedIn()">Sign up</a>
    <a class="nav-button" (click)="logOut()" *ngIf="this.auth.isLoggedIn()">Log out</a>
    <a class="nav-button" (click)="navigate('login')" *ngIf="!this.auth.isLoggedIn()">Log in</a>
  </ul>
</div>
<div class="content-container">
  <div class="results" *ngIf="userSearched">
    <h2>These are the stores that match with your parameters</h2>
    <div class="list">
        <app-store-result *ngFor="let store of resultStores" [store]="store" (click)="enterStore(store.id)"></app-store-result>
    </div>
  </div>

  <h2>Get to know our top Stores</h2>
  <p>These are some of the best stores selected from huge variety of excelente quality brands</p>
  <div class="stores-container">
    <app-store-result *ngFor="let store of stores" [store]="store" (click)="enterStore(store.id)"></app-store-result>
  </div>

  <h2>Most wanted products</h2>
  <p>Browse for the best products made especially for you</p>
  <div class="stores-container">
    <app-product-result *ngFor="let product of products" [product]="product" (click)="enterProduct(product.id)"></app-product-result>
  </div>
  <app-contact></app-contact>
</div>



<!-- <div id="space" class="space" (scroll)="scrollHandler()"></div> -->