<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<video autoplay loop id="background-video">
  <source src="../../assets/video.mp4">
</video>
<app-home-label id="label"></app-home-label>

<div id="nav" class="navbar">
  <span>Nemesis</span>
  <ul>
    <a routerLink="">About</a>
    <a routerLink="">Profile</a>
    <a routerLink="/signup">Sign up</a>
    <a routerLink="/login">Log in</a>
  </ul>
</div>

<div id="space" class="space" (scroll)="scrollHandler()"></div>