<div class="container">
  <h2>Contact Us</h2>
  <a href="https://www.facebook.com/"><img src="../../../assets/Contact/facebook.svg" alt=""></a>
  <a href="https://twitter.com"><img src="../../../assets/Contact/twitter.svg" alt=""></a>
  <a href="https://www.instagram.com"><img src="../../../assets/Contact/instagram.svg" alt=""></a>
  <a href="https://plus.google.com"><img src="../../../assets/Contact/google-plus-symbol.svg" alt=""></a>
  <a href="https://www.skype.com"><img src="../../../assets/Contact/skype.svg" alt=""></a>
</div>